venv
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_static_root
_bots*s
__temp*
__pycache__/
*.py[cod]
**/.DS_Store
*.ai
*.psd
*.indd

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.Rproj.user

# hide my content
config.json

# Folders to completely ignore
.idea/
.Rproj.user/
DICE_literature/
env/
feedback/
grant-applications/
legacy/
literature/
prolific/
README_files/
slides/
tutorials/
writeup/

# Ignore everything in these folders first
studies/*
misc/*

# Then explicitly include what you want
!studies/meme_feed/
!studies/brand_safety/
!studies/README.PDF
!misc/img/oFeeds-screenshots_2.png
!misc/img/figure-4.png
!misc/other_subfolder/