
<div class="col card-item" data-category="{{ i.category }}">
    <div class="card h-100 border-0" style="cursor: pointer;">
        <div class="card-body" id="product_{{i.doc_id}}" data-bs-toggle="offcanvas" data-bs-target="#off_{{i.doc_id}}">
        <img src="{{i.product_picture}}" class="card-img-top custom-img">
            <p class='text-primary mb-1 mt-2'>
                <small>{{i.category}}</small>
            </p>
            <h5 class="card-title product-price">{{i.price}}</h5>
            <p class="card-text">
                <!--
                <strong>{{i.brand}}</strong>
                -->
                {{i.product_name}}
            </p>
            <p class="card-text text-muted">
                <small>{{i.specifications}}</small>
            </p>
            {{ if i.rating > 0}}
             <small class="card-text text-muted rating" value="{{i.rating}}">
                 {{i.rating_count}}
             </small>
            {{ endif }}
        </div>
        <div class="card-footer bg-white border-0 text-center">
            <button class="btn btn-outline-dark btn-sm add-to-cart mb-5" id="add-to-cart-{{i.doc_id}}" value={{i.doc_id}} type="button">
                Add to cart
            </button>
        </div>
    </div>
</div>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-bottom bg-transparent" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
id="off_{{i.doc_id}}" aria-labelledby="off-Label" style="height: 100vh; width: 100vw;">

    <div class="offcanvas-body p-0 m-0">
        <div class="container-fluid p-0 m-0">
            <div class="row p-0 m-0">

                <div class="col overflow-auto col-sm-12 col-md-8 col-lg-9 p-0 m-0 bg-white" style="height: 100vh;">
                    <div class="row m-5 p-5 text-secondary">
                        <div class="col col-6 m-0 p-0">
                            <img src="{{i.product_picture}}" class="w-100">
                        </div>
                        <div class="col col-6">
                            <h3 class="text-dark" id="off-Label">{{i.product_name}}</h3>

                            <h5 class="mb-5">{{i.price}} USD</h5>

                            <p class="">
                                {{i.description}}
                            </p>

                            <h3 class="mt-5"> Details </h3>
                            <p>{{i.specifications}}</p>

                            <h3 class="mt-5"> Delivery </h3>
                            {{if i.availability == "Available" }}
                                <span class="badge text-bg-success">{{i.availability}}</span>
                                <p>{{i.delivery}}</p>
                            {{else}}
                                <span class="badge text-bg-success">{{i.availability}}</span>
                            {{endif}}



                            <div class="d-flex justify-content-center">
                                {{if i.availability == "Available" }}
                                    <button class="btn btn-dark m-3 add-to-cart" id="add-to-cart-{{i.doc_id}}" value={{i.doc_id}} type="button">
                                        Add to cart
                                    </button>
                                {{endif}}

                                <button type="button" class="btn btn-outline-dark m-3" data-bs-dismiss="offcanvas" aria-label="Close">
                                    Go Back
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>